html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
main {
  font-family: "Russo One", sans-serif;
}
p {
  font-family: "Roboto Mono", monospace;
}
:root {
  --mainColor: white;
  --secondaryColor: brown;
  --navbarColor: blue;
  --navTextColor: white;
  --textColor: black;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5em;
  width: calc(100% - 2em);
  background-color: var(--secondaryColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 2em;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link:hover {
  background-color: var(--mainColor);
  color: var(--secondaryColor);
}
main {
  width: 100vw;
  padding-top: 5em;
}
.about {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
}
.about-container {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 5em;
  padding: 2em;
}
h1 {
  font-size: 70px;
}
.summary {
  font-size: 20px;
}
.nathan-image {
  width: 400px;
  border-radius: 50%;
}
i {
  font-size: 50px;
  padding: 10px;
}
i:hover {
  background-color: var(--secondaryColor);
  color: white;
}
.fa-linkedin-in {
  color: rgb(0, 119, 181);
}
.fa-github {
  color: black;
}
.projects {
  margin: auto;
  height: auto;
  background-color: var(--secondaryColor);
}
.project-header {
  padding-top: 1em;
  text-align: center;
  font-size: 40px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(320px, 100%/4)), 1fr)
  );
  justify-content: center;
  grid-gap: 2rem;
  width: auto;
  height: auto;
  padding: 0 2rem 2rem 2rem;
}
.project {
  background-color: var(--mainColor);
  height: auto;
  text-align: center;
}
.project:hover {
  border: solid 20px black;
}
.project-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.project-title {
  color: var(--textColor);
}
.contact-title {
  text-align: center;
}
.contact-container label {
  color: var(--mainColor);
}
.contact-container {
  max-width: 600px;
  margin: 0 auto 5em auto;
  padding: 1em;
  background-color: var(--secondaryColor);
  line-height: 2;
  border-radius: 5px;
}
.input-field {
  width: 100%;
  height: 3em;
  margin: 5px 0;
  border-radius: 5px;
  border-color: transparent;
}
.contact-container textarea {
  height: 10em;
  border-radius: 5px;
  border-color: transparent;
}
#submit {
  width: 100%;
  height: 3em;
  background-color: black;
  margin-top: 1em;
  font-size: 16px;
  border-radius: 5px;
  border-color: black;
  color: white;
  font-family: "Russo One";
}
#submit:hover {
  color: var(--secondaryColor);
}
@media (max-width: 75em) {
  .nav-bar {
    height: 4.75em;
  }
  .nav-link {
    font-size: 21px;
    width: 140px;
  }
  main {
    padding-top: 4.75em;
  }
}
@media (max-width: 61em) {
  .nav-bar {
    height: 4.5em;
  }
  .nav-link {
    font-size: 20px;
    width: 130px;
  }
  main {
    padding-top: 4.5em;
  }
}
@media (max-width: 61em) {
  .about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .nathan-image {
    width: 300px;
  }
  .about {
    height: auto;
  }
}
@media (max-width: 44em) {
  .contact-container {
    margin: 0 1em 5em 1em;
  }
}
